
<div id="wrapper">
  <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">                        
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Team</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Team</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <form class="mb-4 mt-3">
                        <div class="form-group mb-2 m-l-0">
                            <label for="inputPassword2" class="sr-only">Search</label>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
               
            </div>
            
            <div class="row clearfix">
                <div class="tab-content" id="option-tabContent">
                    <div class="tab-pane fade show active" id="pills-option1" role="tabpanel" aria-labelledby="pills-option1-tab">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Designing Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar1.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Marshall Nichols</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Development Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar2.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Susie Willis</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>eCommerce Development Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar3.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Debra Stewart</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Sales Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar4.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Erin Gonzales</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Designing Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar1.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Marshall Nichols</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Development Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar2.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Susie Willis</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>eCommerce Development Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar3.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Debra Stewart</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Sales Team</h2>
                                    </div>
                                    <div class="body text-center">
                                        <div class="team-lead">
                                            <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar4.jpg"
                                                alt="">
                                            <h6 class="project-title text-primary mb-2 font-15">Erin Gonzales</h6>
                                            <p class="font-13">Team Lead</p>
                                        </div>
                                        <div class="mb-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex justify-content-center">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-option2" role="tabpanel" aria-labelledby="pills-option2-tab">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Designing Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar1.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Marshall Nichols</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Development Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Susie Willis</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>eCommerce Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar3.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Debra Stewart</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Sales Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Erin Gonzales</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Designing Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar1.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Marshall Nichols</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Web Development Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Susie Willis</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>eCommerce Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar3.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Debra Stewart</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Sales Team</h2>
                                    </div>
                                    <div class="body text-left">
                                        <div class="row align-items-center team-lead">
                                            <div class="col-lg-5 col-md-6 col-sm-12">
                                                <img class="rounded-circle img-thumbnail mx-auto d-block mb-2" src="assets/assets/images/sm/avatar4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12">
                                                <h6 class="project-title text-primary mb-2 font-15">Erin Gonzales</h6>
                                                <p class="font-13">Team Lead</p>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3 team-language">
                                            <span class="badge badge-default">Photoshop</span>
                                            <span class="badge badge-default">HTML/CSS</span>
                                            <span class="badge badge-default">Javascript</span>
                                        </div>
                                        <div class="align-items-center d-flex">
                                            <h6 class="mb-0 mr-2">Employees:</h6>
                                            <ul class="list-unstyled team-info margin-0">
                                                <li><img src="assets/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Chris Fox"></li>
                                                <li><img src="assets/assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                                <li><img src="assets/assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Folisise Chosielie"></li>
                                                <li><img src="assets/assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title=""
                                                        alt="Avatar" data-original-title="Joge Lucky"></li>
                                            </ul>
                                        </div>
                                        <p class="pt-3 mb-0 font-16"><small>1 Lead, 3 Employees</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="assets/bundles/libscripts.bundle.js"></script>    
<script src="assets/bundles/vendorscripts.bundle.js"></script>

<script src="assets/bundles/datatablescripts.bundle.js"></script>
<script src="assets/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="assets/js/pages/tables/jquery-datatable.js"></script>
<script src="assets/js/pages/ui/dialogs.js"></script>
<script src="assets/assets/vendor/bootstrap-progressbar/js/bootstrap-progressbar.min.js"></script>
<script>
    $(function () {
        $('#progress-format1 .progress-bar').progressbar({
            display_text: 'fill'
        });

        $('#progress-format2 .progress-bar').progressbar({
            display_text: 'fill',
            use_percentage: false
        });

        $('#progress-custom-format .progress-bar').progressbar({
            display_text: 'fill',
            use_percentage: false,
            amount_format: function (p, t) {
                return p + ' of ' + t;
            }
        });

        $('#progress-striped .progress-bar, #progress-striped-active .progress-bar, #progress-stacked .progress-bar').progressbar({
            display_text: 'fill'
        });

        $('.progress.vertical .progress-bar').progressbar();
        $('.progress.vertical.wide .progress-bar').progressbar({
            display_text: 'fill'
        });
    });
</script>
