tab {
    background: lightgray;color: #fff;margin-bottom: 4px;
}
.nav-item .active{
    background: #ff9b44 !important;color: #fff;margin-bottom: 4px;
}
.nav > li > a:focus, .nav > li > a{
    background-color: rgb(179, 177, 177);
  color: white;
  text-decoration: none;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ff9b44 !important;
    border-color: #ff9b44 !important;
    color: white;
}


.fileclass{
    font-size: 26px;
    color: gray;
    margin-left: 16px;
    /* margin-top: 20px; */
    position: relative;
    top: 6px;
}

.page-wrapper{
    width: calc(100% - 230px);
}
/* .content{
    width: 90vw;
} */
.col{
    float: left;
    width: 100%;
}
.card-title{
    color: rgb(14, 198, 72);
    font-size: 15px;
}
.card{
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
}
.first{
    border-left: 2px solid rgb(204, 203, 203);
}
.last{
    border-left: 2px solid #cccbcb;
}
table{
    width: 100% !important;
    border-bottom: 2px solid rgb(204, 203, 203);
}
tr td {
    border-top: 0;
  }
  
tr:hover{
    background-color: #ddd;
}
.tble1{
    width: 33%;
}
.tble2 {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 60%;
    height: auto;
}
.tble2 tbody thead {
    display: table;
    /* width: 100%; */
}
.location{
    text-overflow: ellipsis;
  overflow: hidden  !important; 
  width: 130px; 
  /* height: 1.8em;  */
  white-space: nowrap;
}
td{
    white-space: unset;
    text-overflow: unset;
}
.eight-col{
    left: 91%;
    position: absolute;
}
.three-dots:after {
    cursor: pointer;
    color: black;
    background-color: gainsboro;
    border-radius: 5px;
    content: '\2807';
    font-size: 20px;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 2px gainsboro;
    
  }
  
  a {
    text-decoration: none;
    color: black;
    background-color: white;
  }
  
  a div {
    padding: 2px;
  }
  .edit{
      display: block;
      width: 150px;
  }
  
  .dropdown {
      background-color: white;
    position: relative;
    right: 18px;
    box-shadow: 0px 0px 3px 3px rgb(252, 248, 248);
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
  }
  .icon1{
    background-color: grey;
    /* margin-left:10em; */
    font-size: 20px;
    width: 33px;
    border: none;
    border-radius: 6px;
  }
  .searc{
    color:white;
    font-size:17px;
  }
  .crd{
    padding: 15px;
    /* margin-top: 2em; */
    text-align: center;
  }
  .today_activity{
    height: 83px;
    list-style-type: none;
    margin-bottom: 0;
    /* overflow-y: auto; */
    padding-left: 30px;
    position: relative;
  }
@media only screen and (max-width: 1600px) and (max-height: 900px) {
    .tble1{
        width: 50%;
    }
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 47% ;
    } 
    .eight-col{
        left: 95% ;
        position: absolute;
        background-color: white;
        width: 5%;
    } 
    .dropdown {
        background-color: white;
      position: relative;
      right: 78px;
      box-shadow: 0px 0px 3px 3px rgb(252, 248, 248);
      outline: none;
      opacity: 0;
      z-index: -1;
      max-height: 0;
      transition: opacity 0.1s, z-index 0.1s, max-height 5s;
    }
}
@media only screen and (max-width: 1440px) and (max-height: 702px) {
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 45% !important;
    }  
    .tble1{
        width: 50% !important;
    }
    .eight-col{
        left: 93% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
}
@media only screen and (max-width: 1366px) and (max-height: 768px) {
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 43% !important;
    }  
    .tble1{
        width: 50% !important;
    }
    .eight-col{
        left: 91% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
}
@media only screen and (max-width: 1290px) and (max-height: 720px) {
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 42% !important;
    }  
    .tble1{
        width: 50% !important;
    }
    .eight-col{
        left: 90% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
    
}
@media only screen and (max-width: 1024px) and (max-height: 768px) {
    
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 41% !important;
    }  
    .tble1{
        overflow-x: auto;
        white-space: nowrap;
        width: 50% !important;
    }
    .eight-col{
        left: 88% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
}
@media only screen and (max-width: 768px) and (max-height: 702px) {
    .page-wrapper{
        width: 100% !important;
    }
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 40% !important;
    }  
    .tble1{
        overflow-x: auto;
        white-space: nowrap;
        width: 50% !important;
    }
    .eight-col{
        left: 92% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
}
@media only screen and (max-width: 425px) and (max-height: 702px) {
    
    .tble2 {
        overflow-x: auto;
        white-space: nowrap;
        width: 10% !important;
    }  
    .tble1{
        width: 40% !important;
    }
    .eight-col{
        left: 50% !important;
        position: absolute;
        background-color: white;
        width: 5%;
    }
}