<div id="wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Payments</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Accounts</li>
                            <li class="breadcrumb-item active">Payments</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">                        
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Clients Name</th>
                                            <th>Project Name</th>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LA 0218</td>
                                            <td>WrapTheme</td>
                                            <td>Alpino - Bootstrap 4 </td>
                                            <td>07 March, 2018</td>
                                            <td><img src="assets/assets/images/paypal.png" class="rounded width45" alt="paypal"></td>
                                            <td>$4,205</td>
                                        </tr>
                                        <tr>
                                            <td>LA 0220</td>
                                            <td>ThemeMakker</td>
                                            <td>Nexa Wordpress</td>
                                            <td>25 Jun, 2018</td>
                                            <td><img src="assets/assets/images/mastercard.png" class="rounded width45" alt="mastercard"></td>
                                            <td>$5,205</td>
                                        </tr>
                                        <tr>
                                            <td>LA 0222</td>
                                            <td>WrapTheme</td>
                                            <td>Lucid HR Management</td>
                                            <td>12 July, 2018</td>
                                            <td><img src="assets/assets/images/paypal.png" class="rounded width45" alt="paypal"></td>
                                            <td>$2,000</td>
                                        </tr>
                                        <tr>
                                            <td>LA 0312</td>
                                            <td>WrapTheme</td>
                                            <td>sQuare - Bootstrap 4 Angular5 Admin</td>
                                            <td>13 July, 2018</td>
                                            <td><img src="assets/assets/images/paypal.png" class="rounded width45" alt="paypal"></td>
                                            <td>$10,000</td>
                                        </tr>
                                        <tr>
                                            <td>LA 0389</td>
                                            <td>WrapTheme</td>
                                            <td>Compass Dashboard</td>
                                            <td>27 July, 2018</td>
                                            <td><img src="assets/assets/images/visa-card.png" class="rounded width45" alt="visa card"></td>
                                            <td>$1,205</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>