
    <div class=" page-details">
      <div class="container-fluid card pl-5 py-5">
        <div class="back">
          <button type="button" class="btn btn-light back" onclick="history.back()"><i class="mr-2 fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        </div>
        <!-- page header start -->
        <div class="page-header">
          <div class="row align-items-center">
            <h3 class="page-title">Payroll Policy</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/employee_dashbaord">Home</a></li>
                <li class="breadcrumb-item active1">Edit Payroll Policy</li>
              </ul>
          </div>
        </div>
        <!-- page header end -->
        <!-- page-card start -->
        <div class="">
          <form [formGroup]=" payrollPolicyforms">
           
            <div class="form-group">
              <label for="InputName" class="text-bold">Name<span class="required">*</span> </label>
                <input type="text" class="form-control" id="InputName" size="50" placeholder="Enter Name"
                formControlName="name"
                [ngClass]="{'red-border-class': Submitted && fr.name.errors}" required>
            </div>
  
         
            <div class="form-group">
              <label for="InputDescription">Description<span class="required">*</span> </label>
              <textarea class="form-control" name=" Description" id="InputDescription" placeholder="Enter Description" 
              formControlName="desp"
              [ngClass]="{'red-border-class': Submitted && fr.desp.errors}" required></textarea>
            </div> 
  
            <div class="form-group">
              <label for="InputOrganization">Organization<span class="required">*</span> </label>
                <select class="form-select form-control dd" aria-label="Default select " formControlName="orgdrop"  disabled (change)="payrolltypeval($event)" 
                [ngClass]="{'red-border-class': Submitted && fr.orgdrop.errors}" required>
                 
    
                        <option value="">Select Your Option</option>
    
                        <option value="{{i}}" placeholder="Select Organization" *ngFor='let data of org_dd;let i=index'>{{data.name}}</option>
  
                 
                </select>
            </div>
  
            <h6><u>Earning List</u></h6>
            <div *ngFor="let data of payroll_list">
              <label >{{data.name}}<span class="required">*</span></label>
              <input class="form-control" (change)="getEarningValues(data.earningMasterId,$event)" type="text" id="InputName" value ="{{data.amount}}" size="50" placeholder="Enter Value">
    
            </div>
             
            <h6><u>Deduction List</u></h6>
            <div *ngFor="let data of payroll_deduction">
              <label >{{data.name}} <span class="required">*</span> </label>
              <input class="form-control" (change)="getDeductionValues(data.detectionMasterId,$event)" type="text" id="InputName" value ="{{data.amount}}" size="50" placeholder="Enter Value">
    
            </div>
  
          <button type="submit" (click)="updatepayrollpolicy()"class="btn mb-5">Update Payroll Policy</button>
          </form>
        </div>
        
        <!-- page-card end -->
      </div>
    </div>

  
