<!-- Page Wrapper -->
<div class="page-wrapper">
   
    <!-- Page Content -->
    <div class="slimscroll-menu" id="remove-scroll">
        <div class="content container-fluid">
                    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-6" style="display:flex; justify-content:space-between">
                  <div class="col-md-6">
                      <h3>HRMS</h3>
                   </div> 

                   <div class="col-md-6 array">
                        <div class="name">AK

                        </div>
                        <div class="name1">GV
                            
                        </div>
                        <div class="name2">VK
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                         <button class="btn btn-secondary" placeholder="Board Views" type="button" aria-expanded="false"  
                         data-target="#langModal" (click)="openNewModal()" data-toggle="modal">
                          <i class="fa fa-user-plus" aria-hidden="true"></i> Invite
                         </button>

                    </div>
                </div>
           
            
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
       

        <!-- Search Filter -->
        
        <div class="row base">  
            
            <div class="cards_scroll_verticall">
             
             <div  style="background: #cdcaca; padding: 20px; height:21em;" class="col-md-4  card_one_scroll">
                <h4>Week Goals and Tasks</h4>
                <div style="background: white;
                padding: 10px;margin-bottom: -1pc;">
                    <h4>Kids Magic Mobile App</h4>
                    <button>24 Nov 2021 - 30- Nov 2021</button>
                    <div><span>18</span><span>9/10</span></div>
                    <div class="name">AK

                    </div>
                </div><br>
                <div style="background: white;
                padding: 10px;margin-bottom: 8px;">
                    <h4>Kids Magic Mobile App</h4>
                    <button>24 Nov 2021 - 30- Nov 2021</button>
                    <div><span>18</span><span>9/10</span></div>
                    <div class="name">AK

                    </div>
                </div>
                <div style="background: white;
                padding: 10px;margin-bottom: 9px">
                    <h4>Kids Magic Mobile App</h4>
                    <button>24 Nov 2021 - 30- Nov 2021</button>
                    <div><span>18</span><span>9/10</span></div>
                    <div class="name">AK

                    </div>
                </div>
                <div style="background: white;
                padding: 10px;margin-bottom: -1pc;">
                    <h4>Kids Magic Mobile App</h4>
                    <button>24 Nov 2021 - 30- Nov 2021</button>
                    <div><span>18</span><span>9/10</span></div>
                    <div class="name">AK

                    </div>
                </div>
               
            </div>       
       
         <div style="background: #cdcaca;
        padding: 20px; height: 19em;
overflow-x: auto;
overflow-y: auto; margin-left:5px;" class="col-md-4 card card_two_scroll">
            <h4>Week Goals and Tasks</h4>
            <div style="background: white;
            padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div><br>
            <div style="background: white;
            padding: 10px;margin-bottom: 8px;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: 9px">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
           
        </div>   
        
         <div style="background: #cdcaca;  padding: 20px; height: 19em;overflow-x: auto;overflow-y: auto;margin-left:5px" class="col-md-4 card_three_scroll">
            <h4>Week Goals and Tasks</h4>
            <div style="background: white;  padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div><br>
            <div style="background: white;
            padding: 10px;margin-bottom: 8px;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: 9px">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
        </div>

        <div style="background: #cdcaca;  padding: 20px; height: 19em;overflow-x: auto;overflow-y: auto;margin-left:5px" class="col-md-4 card_three_scroll">
            <h4>Week Goals and Tasks</h4>
            <div style="background: white;  padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div><br>
            <div style="background: white;
            padding: 10px;margin-bottom: 8px;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: 9px">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
            <div style="background: white;
            padding: 10px;margin-bottom: -1pc;">
                <h4>Kids Magic Mobile App</h4>
                <button>24 Nov 2021 - 30- Nov 2021</button>
                <div><span>18</span><span>9/10</span></div>
                <div class="name">AK

                </div>
            </div>
        </div>        

        <div class=" log_div">
            
        </div>


        <!-- <div class="add_card">
            <span class= "action-link js-show-invitation-link test" (click)="toggle1()"><i class="fa fa-plus" aria-hidden="true"></i>Add another list</span>
    
            <div style="display:flex;" *ngIf="show1">
                <input type="text" class="form-control" placeholder="Enter list title" formControlName="name"
                >
                <a class="btn btn-secondary copy" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Add list</a>
            </div>
            <div *ngIf="!(show1)">  
               
            </div>
    
        </div> -->


        <div  style="background: #cdcaca;  padding: 13px; opacity:0.7;width:5em;height: 3em;margin-left:5px" class="col-md-4 ">
            <span type="button" class= "action-link js-show-invitation-link add_list" (click)="toggle1()"><i class="fa fa-plus" aria-hidden="true">Add another list</i></span>
    
            <div style="display:flex; flex-direction:column; margin-top:1em;" *ngIf="show1">
                <input type="text" style="margin-left:-12px;" class="form-control" placeholder="Enter list title" [(ngModel)]='addcard'
                >
                <br>
            
              <div class="add_list_popup">  
                
            <a class="btn btn-secondary"  style="width:6em;" type="button" (click)="addcardModal()"><i class="fa fa-plus" aria-hidden="true"></i>Add list</a>

            <button type="reset" style="border:none; margin-left:8px; font-size:18px;" ><i class="fa fa-times close_icon" aria-hidden="true"></i></button>
            </div>
            </div>
            <div *ngIf="!(show1)">  
               
            </div>
        </div> 
    
       
    </div>  

    
        
   
        </div>
    <!-- /Page Content -->
   
    <!-- Create Project Modal -->
    <div id="create_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select form-control">
                                        <option>Bihar Government</option>
                                        <option>MP Government</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="">
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="">
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="Rs 500" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select form-control">
                                        <option>Hourly</option>
                                        <option>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select form-control">
                                        <option>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Project Leader</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Leader</label>
                                    <div class="project-members">
                                        <a href="#" data-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                            <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Team</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Members</label>
                                    <div class="project-members">
                                        <a href="#" data-toggle="tooltip" title="John Doe" class="avatar">
                                            <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Richard Miles" class="avatar">
                                            <img src="assets/img/profiles/avatar-09.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="John Smith" class="avatar">
                                            <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Mike Litorus" class="avatar">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="">
                                        </a>
                                        <span class="all-team">+2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Create Project Modal -->
    
    <!-- Edit Project Modal -->
    <div id="edit_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" value="Project Management" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select form-control">
                                        <option>Bihar Government</option>
                                        <option>MP Government</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="">
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="">
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="Rs 50" class="form-control" value="Rs 500000" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select form-control">
                                        <option>Hourly</option>
                                        <option selected>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select form-control">
                                        <option selected>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Project Leader</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Leader</label>
                                    <div class="project-members">
                                        <a href="#" data-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                            <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Team</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Members</label>
                                    <div class="project-members">
                                        <a href="#" data-toggle="tooltip" title="John Doe" class="avatar">
                                            <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Richard Miles" class="avatar">
                                            <img src="assets/img/profiles/avatar-09.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="John Smith" class="avatar">
                                            <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Mike Litorus" class="avatar">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="">
                                        </a>
                                        <span class="all-team">+2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Project Modal -->
    
    <!-- Delete Project Modal -->
    <div class="modal custom-modal fade" id="delete_project" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Project</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Project Modal -->
    </div> 
    </div>


    <!-- Modal -->
    <div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="langModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: none;color: black; justify-content:center;">
                    <h5 class="modal-title mt-0" id="langModalLabel" >{{modalHeaderText}}</h5>

                    <button type="button" class="close" data-dismiss="modal" style="float:right;color:black" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body invite_popup">
                    <form [formGroup]="Naina">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter address or name" formControlName="name"
                                    >
                        </div>

                        <div class="add_people">
                            <span >ADD PEOPLE FROM</span>
                            <a href="#" class="btn btn-secondary btn1 " type="button">Google</a>
                            <a href="#" class="btn btn-secondary btn2" type="button">Slack</a>
                            <a href="#" class="btn btn-secondary btn3" type="button">Microsoft</a>

                        </div>

                        <div class="invite_link">
                            <div class="invite">
                                <span ><b>Invite with link</b></span><br>
                                
                                <span>Anyone with this link  can join the group</span>
                                <div style="display:flex;" *ngIf="show">
                                    <input type="text" class="form-control" placeholder="Enter address or name" formControlName="name"
                                    >
                                    <!-- <a class="btn btn-secondary copy" type="button">Copy</a> -->
                                </div>
                                <div *ngIf="!(show)">  
                                   
                                </div>
                            </div>

                            <div class="invite_click">
                               <span class= "action-link js-show-invitation-link test" (click)="toggle()">{{buttonName}}</span>
                               <div *ngIf="show">
                                <a class="btn btn-secondary copy" type="button">Copy</a>
                               </div>
                               <!-- <a href="#" class= "action-link js-deactivate-link hide js-invitation-link-container">Disable link</a> -->
 
                               <!-- <div *ngIf="show">
                                <input type="text" class="form-control" placeholder="Enter address or name" formControlName="name"
                                >
                                <a class="btn btn-secondary " type="button">Copy</a>
                            </div>
                            <div *ngIf="!(show)">  
                               
                            </div> -->
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer send_button">
                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                            class="fas fa-times"></i>&nbsp;Close</button> -->
                    <button type="button" (click)="addSoilType(modalButtonText)"
                        class="btn btn-primary">{{modalButtonText}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->


    


    

   