<!-- Created by Riddhi Omar on 27/04/2022 -->

    <div class=" page-details">
      <div class="container-fluid card pl-5 py-5">
        <div class="back">
          <button type="button" class="btn btn-light back" onclick="history.back()"><i class="mr-2 fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        </div>
        <!-- page header start -->
        <div class="page-header">
          <div class="row align-items-center">
            <h3 class="page-title">Offboard Policy</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/employee_dashbaord">Dashboard</a></li>
                <li class="breadcrumb-item active1">Offboard Policy Add</li>
              </ul>
          </div>
        </div>
        <!-- page header end -->
        <!-- page-card start -->
        <div class="">
          <form [formGroup]="offboardPolicyforms">
            <div class="form-group ">
              <label for="InputOrganization">Organization<span class="required">*</span> </label>
              
                <select class="form-select form-control dd"  aria-label="Default select " (change)="getCheckMasterList($event.target.value)" formControlName="organisation"
    
                (change)="getValue1($event.target.value)" [ngClass]="{
    
                'red-border-class': Submitted && fr.organisation.errors}" required>
    
                <option value="">Select Your Option</option>
    
                <option value="{{data.uniqueId}}"  *ngFor='let data of org_dd' >{{data.name}}</option>
    
            </select>
            </div>
            <div class="form-group">
              <label for="InputDescription">Check Master<span class="required">*</span> </label>
              <div style="background:white;">
                  <ng-multiselect-dropdown
                          formControlName="onboardpolicycheck" id="onboardpolicycheck"
                          [placeholder]="'Select Checklist'"
                          [settings]="orgdropdown"
                          [data]="checkmaster"
                          [(ngModel)]="selectedItemsCheckMaster"
                          (onSelect)="onItemSelect($event)"
                          (onSelectAll)="onSelectAll($event)" [ngClass]="{'red-border-class': Submitted && fr.onboardpolicycheck.errors}" required>
                  </ng-multiselect-dropdown>
              </div>
          </div>
          <div class="form-group">
            <label for="InputName" class="text-bold">Name<span class="required">*</span> </label>
              <input type="text" class="form-control" id="InputName" size="50" placeholder="Enter Name"
              formControlName="name"
              [ngClass]="{'red-border-class': Submitted && fr.name.errors}" required>
          </div>
          
          <div class="form-group">
            <label for="InputDescription">Description<span class="required">*</span> </label>
            <textarea class="form-control" name=" Description" id="InputDescription" placeholder="Enter Description" 
            formControlName="desp"
            [ngClass]="{'red-border-class': Submitted && fr.desp.errors}" required></textarea>
          </div>
          
          
  
          <button type="submit" (click)="saveOffboardPolicy()"class="btn mb-5">Add OffBoard Policy</button>
          </form>
        </div>
        
        <!-- page-card end -->
      </div>
    </div>

  