.col {
    float: left;
}
.mini-sidebar .page-wrapper {
    margin-left: 60px;
    width: 95% !important;
}
.inbox{
    border-style: none;
    text-align: center;
}






.tab {
    background: lightgray;color: #fff;margin-bottom: 4px;
}
.nav-item .active{
    background: #ff9b44 !important;color: #fff;margin-bottom: 4px;
}
.nav > li > a:focus, .nav > li > a{
    background-color: rgb(179, 177, 177);
  color: white;
  text-decoration: none;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ff9b44 !important;
    border-color: #ff9b44 !important;
    color: white;
}

.fileclass{
    font-size: 26px;
    color: gray;
    margin-left: 16px;
    /* margin-top: 20px; */
    position: relative;
    top: 6px;
    cursor:pointer;
}
.table thead th{
    letter-spacing: 0 !important;
}
.page-wrapper{
    width:calc(100% - 230px);
}
/* .content{
    width: 90vw;
} */
.col{
    float: left;
    width: 100%;
}
.card-title{
    color: rgb(14, 198, 72);
    font-size: 15px;
}
.card{
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
}
.first{
    border-left: 2px solid rgb(204, 203, 203);
}
.last{
    border-left: 2px solid #cccbcb;
}
table{
    width: 100% !important;
    border-bottom: 2px solid rgb(204, 203, 203);
}
tr td {
    border-top: 0;
    
  
  }
  
tr:hover{
    background-color: #ddd;
}
.tble1{
    width: 33%;

}
.tble2 {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 60%;
    height: auto;
}
.tble2 tbody thead {
    display: table;
    /* width: 100%; */
}
.location{
    text-overflow: ellipsis;
  overflow: hidden  !important; 
  width: 130px; 
  /* height: 1.8em;  */
  white-space: nowrap;
}
td{
    white-space: unset;
    text-overflow: unset;
}
th{
    white-space: unset;
    text-overflow: unset;
}
.eight-col{
    left: 91%;
    position: absolute;
}
.three-dots:after {
    cursor: pointer;
    color: black;
    background-color: gainsboro;
    border-radius: 5px;
    content: '\2807';
    font-size: 20px;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 2px gainsboro;
    
  }
  
  a {
    text-decoration: none;
    color: black;
    background-color: white;
  }
  
  a div {
    padding: 2px;
  }
  .edit{
      display: block;
      width: 150px;
  }
  
  /* .dropdown {
      background-color: white;
    position: relative;
    right: 18px;
    box-shadow: 0px 0px 3px 3px rgb(252, 248, 248);
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
  } */
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
  }
  .icon1{
    background-color: grey;
    /* margin-left:10em; */
    font-size: 20px;
    width: 33px;
    border: none;
    border-radius: 6px;
  }
 
  .btn-punch {
    color: #fff ;
    background-color: #ff9800 ;
    border-color: #ff9800 ;
}

.orenge {
    background-color:#ff9800;
    border-color: #ff9800 ;
}

.red {
    background-color: rgb(255, 51, 0);
    border-color: rgb(255, 51, 0);
}
.event-icon{
    border-radius: 50%;
    padding: 7px;
    background-color: #ffffff;
    margin: 3px;
}
.event-img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.event-all{
    border-radius: 50%;
    padding: 9px;
    background-color: #ffffff;
    margin: 0 3px;
}
.event-list li{
    list-style: none;
    line-height: 2;
}
.event-list .dropdown-menu {
    font-size: 15px;
    min-width: 400px;
    padding: 20px;
    font-weight: 400;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-235px, 0px, 0px);
    z-index:9999;
}
.dropright .dropdown-toggle::after {
    display: none !important;
    
}
.user-details{
    line-height: 1 !important;
    margin: 15px 0;
}
.user-details .user-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.user-details .user-name p{
    margin-bottom: 0.2rem !important;
}
.user-details .user-name span{
    text-transform: uppercase;
    color: rgb(147, 168, 185);
}
.user-details .user-experience{
    line-height: 2.3;
}
.user-details .user-experience span{
    border: none;
    border-radius: 3px;
    padding: 4px 7px;
    color: rgb(57, 74, 96);
    background: rgb(238, 243, 246);
}
@media only screen and (max-width: 570px){
    .event-row{
        display: block !important;
        text-align: center;
    }
    .event-row .card-date{
        margin-left: 0 !important;
    }
}