<div id="page-wrapper" style="overflow-y: hidden;">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main col-lg-9 col-xl-7">
            <div class="auth-box">
                <div class="top">
                   
                </div>
                <div class="card col-lg-12 d-flex justify-content-center" style="box-shadow: 1px 1px 10px #888888;">
                    <div class="forget_header d-flex">
                        <div class="header-logo">
                            <img src="/assets/img/icon-light.png" alt="hrms" width="80%">
                        </div>
                        <div class="body">
                            <h1 class="lead mb-2">Change password</h1>
                            <p>Please enter your new password below to change new password.</p>
                        </div>  
                    </div>
                    <hr color="orange"><br>
                        <form class="form-auth-small" [formGroup]="changepasswordForm">
                            <div class="form-group">                                    
                               
                                <label>Current Password</label>
                              
                                <div class="input-group-append">
                                    <!-- <span class="form-control"><i class="fa fa-key"></i></span> -->
                                    <input [type]="fieldTextType ? 'text': 'password'" class="form-control"
                                        formControlName="password" placeholder="****" [ngClass]="{'red-border-class': newpassSubmitted && fa.password.errors}">
                                   
                                        <span class="input-group-text">
                                            <i class="fa"
                                                [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye':fieldTextType}"
                                                (click)="toggleFieldTextType()"></i>
                                        </span>
                                    </div>
                            </div>
                            <div class="form-group">                                    
                                <label>New Password</label>
                              
                                <div class="input-group-append">
                                    <!-- <span class="form-control"><i class="fa fa-key"></i></span> -->
                                    <input [type]="fieldTextType1 ? 'text': 'password'" class="form-control"
                                        formControlName="newpassword" placeholder="****" [ngClass]="{'red-border-class': newpassSubmitted && fa.newpassword.errors}">
                                   
                                        <span class="input-group-text">
                                            <i class="fa"
                                                [ngClass]="{'fa-eye-slash': !fieldTextType1, 'fa-eye':fieldTextType1}"
                                                (click)="toggleFieldTextType1()"></i>
                                        </span>
                                    </div>
                            </div>
                            <div class="form-group">                                    
                                <label>Re-enter New Password</label>
                              
                                <div class="input-group-append">
                                    <!-- <span class="form-control"><i class="fa fa-key"></i></span> -->
                                    <input [type]="fieldTextType2 ? 'text': 'password'" class="form-control"
                                        formControlName="rechecknewpassword" placeholder="****" [ngClass]="{'red-border-class': newpassSubmitted && fa.rechecknewpassword.errors}">
                                   
                                        <span class="input-group-text">
                                            <i class="fa"
                                                [ngClass]="{'fa-eye-slash': !fieldTextType2, 'fa-eye':fieldTextType2}"
                                                (click)="toggleFieldTextType2()"></i>
                                        </span>
                                    </div>
                            </div>
                            <div class="form-group" *ngIf="errorVal != ''">
                                <p style="color:red">{{errorVal}}</p>
                            </div>
                            <button type="submit" class="my-4 btn btn-lg btn-block" (click)="resetpassword()">Submit</button>
                          
                        </form>
                    
                </div>
            </div>
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>